.hidden {
    display: none;
}

#container {
    margin: 22px auto; 
    width: 428px;
    border: solid 1px #eac520; 
    background: white;
    border-radius: 20px;
}

#mainContent {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    padding-left: 20px;
    padding-right: 20px;
}

article { 
    grid-column: 1/ -1;
}

img { 
    margin-top: 20px;
    margin-bottom: 30px; 
}

.text { 
    color: white; 
    background-color: rgba(;, green, blue, alpha);
    font-size: 25px; 
    line-height: 20px;
}

.text2 { 
    color: white; 
    background-color: black; 
    font-size: 25px;
    line-height: 20px; 
    padding: 14px 6px; 
    margin-right: 8px; 
    float: right; 
    border-radius: 20px;
}

.text3 {
    color: white;
    background-color:peachpuff;
    font-size: 25px;
line-height: 20px;
    padding: 14px 6px;
margin-right: 8px;
float: right;
    border-radius: 20px;
       

}

.text4 {
    color: white;
    background-color: rgb(55, 55, 243);
    font-size: 25px;
line-height: 20px;
    padding: 4px 2px;
margin-right: 8px;
border-radius: 20px;
       

}

.text5 {
    color: crimson;
    font-size: 25px;
line-height: 20px;
}

.text6 {
    color: white;
background-color: black;
border-radius: 5px;
box-shadow: 3px 3px 0 rgb(80, 227, 80);
font-size: 32px;
padding: 14px 6px;
margin-right: 8px;
float: left;

}


h2 {
font-family: "Times New Roman", Times, serif;
font-size: 38px;
line-height: 45px;
letter-spacing: -1px;
margin-bottom: 20px;
text-shadow: 1px 1px 0 rgb(80, 227, 80);
font-weight: 900;
    text-align: center;
}

p {
line-height: 28px;
margin-bottom: 20px;
     
}

/* This is referred to as an adjacent selector. It will select only the element that is immediately preceded by the former element. */
h2 + p::first-letter {
color: white;
background-color: black;
border-radius: 5px;
box-shadow: 3px 3px 0 rgb(80, 227, 80);
font-size: 32px;
padding: 14px 6px;
margin-right: 8px;
float: left;
   
}

#d2 {
    color: orange;
    background-color: black;
    text-align: center;
    letter-spacing: 3px;
    max-width: 100%;
    border-radius: 10px;
}

#d2 p {
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
}

#d3 {
    color: teal;
    text-align: right;
    font-weight: bold;
    max-width: 100%;
    font-size: 30px;

}

#d4 {
    color: maroon;
    background-color: white;
    border-radius: 150%;
    font-weight: lighter;
    word-spacing: 6px;
    font-size: 20px;

}

#d5 {
    color: white ;
    background-color: rgb(55, 55, 243) ;
    font-weight: bold;
    word-spacing: 2px;
    font-size: 20px;
    padding-bottom: 8px;
   

}

#d5 p {
    border: white 1px solid;
    border-radius: 15px;
    background-color: rgb(171, 170, 236) ;
    margin: 16px 10px ;
    padding: 16px 10px;
   
}

#d6 {
    color: rgb(55, 55, 243) ;
    background-color: yellow ;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 25px;

   

}

#d6 p {
    color: rgb(55, 55, 243) ;
    line-height: 1.9;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#d7 {
    color: brown;
    background-color: pink;
    font-style: italic;
    font-weight: lighter;
    font-size: 16px;
   
}

#d7 p {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#d8 {
    color: grey;
    background-color: aqua;
    font-size: 20px;
}

#d8 p {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    word-spacing: 8px;
    line-height: 1.2;
}

#d9 {
    color: yellowgreen;
    background-color: purple;
    border-radius: 20px;
}

#d9 p {
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
}