/* Reset default browser styles */
html, body, h1, h2, h3, h4, h5, h6, p, img, ul, ol, li, figure, figcaption, blockquote, dl, dd, dt {
    margin: 0;
    padding: 0;
}

/* This is the design of my page */
.hidden {
    display: none;
}

#container {
    width: 900px; /* Adjusted width */
    margin: 0 auto;
    border: solid 1px #333;
    background-color: white;
    border-radius: 10px;
}

#mainContent {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

article {
    grid-column: 1/-1;
}

img {
    max-width: 100%;
    max-height: fit-content;
}

/* Font styles */
h1, p {
    font-family: "Empire", sans-serif; /* Use Empire font */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Empire';
    src: url('../fonts/Empire.woff2') format('woff2'), /* Adjusted font source */
         url('../fonts/Empire.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'San-serif'; 
    font-size: 56px;
}

/* Additional designs */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
}

h1 {
    font-family: 'Times New Roman', Times, serif; /* Using Times New Roman */
    font-size: 38px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 0 rgb(80, 227, 80);
    font-weight: 900;
}

p {
    line-height: 28px;
}

h1 + p::first-letter {
    color: white;
    background-color: black;
    padding: 14px 6px;
    margin-right: 8px;
    float: left;
    font-size: 32px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 rgb(80, 227, 80);
}
